:root {
  // colors

  --text-color: white;
  --title-color: floralwhite;
  --links-color: white;
  --links-shadow-color: black;
  --page-bg-color: #06062c;

  // fonts

  --page-font: monospace;
}
