.body {
  height: 100vh;
  width: 100vw;
  background-color: var(--page-bg-color);
  background-image: url("https://image.ibb.co/mjnygo/stars.png");
  background-size: cover;
  background-position: center;
  font-family: var(--page-font);
}
.bg {
  background-image: url("../../assets/images/fireworks3.gif");
  background-size: cover;
  background-position: center;
}

.hidden {
  display: none;
}
