.body {
  height: 100vh;
  width: 100vw;
  background-color: var(--page-bg-color);
  font-family: var(--page-font);
}
.bg {
  background-image: url("https://images2.alphacoders.com/712/thumb-1920-712142.jpg");
  background-image: url("../../assets/images/fireworks3.gif");
  background-size: cover;
  background-position: center;
}

.hidden {
  display: none;
}
